---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            plugins/skeleton/dist/index.umd.js.map
          )$

      - id: mixed-line-ending
      - id: pretty-format-json
        exclude: |
          (?x)^(
            package-lock\.json|
            plugins/skeleton/dist/index.umd.js.map|
            plugins/skeleton/package\.json
          )$
        args:
          - --autofix
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-tabs
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: |
          (?x)^(
            plugins/skeleton/dist/index.umd.js.map|
            plugins/skeleton/dist/index.umd.js
          )$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
      - id: markdownlint-fix
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        # args:
        #   - --exclude-secrets
        #   - '(auth|secretName|secretKey)'
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        entry: yamllint --config-file .yamllint.yaml
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.10
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
        # When set in `pyproject.toml`, the black profile argument may be removed
        args:
          - --profile black
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args:
          - --write
          - --simplify
          - --case-indent
          - --indent=2
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
