---
name: asdf dependabot update

on:
  schedule:
    # Runs at 8 AM ET / 12 PM UTC (non-DST)
    - cron: '0 12 * * 4'
  workflow_dispatch:

jobs:
  setup-asdf-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix-combinations: ${{ steps.setup-matrix-combinations.outputs.matrix-combinations }}
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Checkout voxel51/aloha-github-workflows
        uses: actions/checkout@v6.0.1
        with:
          repository: voxel51/aloha-github-workflows
          ref: main
          token: ${{ secrets.ORG_RO_ALOHA_GITHUB_WORKFLOWS_FG_PAT }}
          path: ./.github/actions/aloha-github-workflows
      - name: Install asdf CLI
        uses: asdf-vm/actions/setup@v4.0.1
      - name: Install asdf plugins
        uses: asdf-vm/actions/plugins-add@v4.0.1
      - name: Update Tools
        id: setup-matrix-combinations
        uses: ./.github/actions/aloha-github-workflows/.github/actions/asdf-dependabot-update/generate-matrix
        with:
          patch-only: "python,nodejs"

  update-asdf:
    if: ${{ toJson(fromJson(needs.setup-asdf-matrix.outputs.matrix-combinations).include) != '[]' }}
    runs-on: ubuntu-latest
    needs: setup-asdf-matrix
    strategy:
      matrix: ${{ fromJson(needs.setup-asdf-matrix.outputs.matrix-combinations) }}
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Checkout voxel51/aloha-github-workflows
        uses: actions/checkout@v6.0.1
        with:
          repository: voxel51/aloha-github-workflows
          ref: main
          token: ${{ secrets.ORG_RO_ALOHA_GITHUB_WORKFLOWS_FG_PAT }}
          path: ./.github/actions/aloha-github-workflows
      - name: Update asdf tools
        uses: ./.github/actions/aloha-github-workflows/.github/actions/asdf-dependabot-update/update
        with:
          tool: ${{ matrix.tool }}
          tool-versions-file: .tool-versions
          version: ${{ matrix.version }}
          github-token: "${{ secrets.ORG_DEPENDABOT_UPDATE_PAT }}"
