---
name: pre-commit

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Create python-version-file File
        uses: "voxel51/aloha-github-workflows/.github/actions/generate-version-file@main"
        id: generate-python-file
        with:
          tool-name: python
      - uses: actions/setup-python@v6.0.0
        with:
          python-version-file: ${{ steps.generate-python-file.outputs.version-file }}
      - name: Run pre-commit
        uses: "voxel51/aloha-github-workflows/.github/actions/pre-commit@main"
